@import '../../app.scss';

$font-size-toptext: 1em;

%input-data {
	font-size: $font-size-toptext;
	padding: 10px;
	border-radius: 8px;
	outline: none;
}

.register {
	width: $size-router-width;
	height: 100vh;
	margin-left: $size-sidebar-width;
	background: $color-background-light;
	font-family: $font-roboto;
	display: flex;
	align-items: center;
	flex-direction: column;

	.top-text {
		margin-top: 20px;
		width: 100%;
		font-size: $font-size-toptext * 2;
		text-align: center;
	}

	.register-person {
		width: 60%;
		margin: 20px;
		display: flex;
		flex-direction: column;

		.input-group {
			margin: 15px 0;
			width: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;

			.name {
				@extend %input-data;
				width: 60%;
			}

			.group-title {
				margin: 10px 0;
				font-size: $font-size-toptext * 1.5;
			}

			.projects-inputs {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				.input-data {
					margin: 5px 5px;
					width: 25%;
					display: flex;
					flex-direction: column;

					.label {
						font-size: $font-size-toptext;
					}

					input {
						width: 20%;
						@extend %input-data;
					}
				}
			}
		}

		.input-group-check {
			display: flex;
			align-items: center;

			input {
				margin-left: 10px;
			}
		}
	}

	.submit-register {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.button {
			width: 15%;
			padding: 10px 15px;
			border-radius: 8px;
			font-size: $font-size-toptext * 1.2;
			background: $color-sidebar-background;
			color: $color-sidebar-font;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;

			&:active {
				position: relative;
				top: 2px;
			}
		}
	}
}